
body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(#F5F5F5,#D3D3D3);
}

h2, p, .readme-wrapper, #title {
    text-align: center;
}
a {
    color:#ff7f50;
    text-decoration: none;
}

a:hover{
    color:	#52ffd4;
    font-weight: bolder;
    text-transform: uppercase;
}

span{
    color: 	#a852ff;
    font-weight: bold;

}

.boxes{
    display: block;
    width: 20%;
    margin: 1rem;
    padding: 1rem;
    border-style: 1rem solid #ff7f50;
    background-color: #ffece6;
    border-radius: 2.5rem;
}

#box1{
    background-color: #ff7f50;
}

#box2{
   background-color: #52ffd4;
}

#box3{
    background-color: cadetblue;
}

.image{
    width: 100px;
    height: 75px;
    background-color: darkgreen;
    display: inline-block;
}

.style{
    color: blue;
}

.style2{
    color: #a852ff;
}

h1{
    color: #ff7f50;

}

#rank1{
    color: #222;
}

#rank2{
    color: #D3D3D3;
}

#rank3{
    color: #ff7f50;
}

#rank4{
    color: aquamarine;
}

#rank5{
    color: burlywood
}

.lists{
    
    border-style: solid;
    border-width: 2px;
    border-color: #000;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}